# Logs
*.log
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Environment files (tetap di-commit)
.env.backup
.env.production
auth.json

# IDE / Editor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json

# Composer & Node
/vendor
/node_modules

# Laravel
/.phpunit.result.cache
/public/build
/public/hot
bootstrap/compiled.php
Homestead.json
Homestead.yaml
/.vagrant
